table {
    border-collapse: collapse;
}

td, th {
    font-size: 12px;
    font-family: sans-serif;
    border-left: 1px solid gray;
    padding: 2px;
}

tr:nth-child(even) {
    background-color: lightgray;
}

th {
    position: sticky;
    top: 0;
    z-index: 1;
    cursor: pointer;
    user-select: none;
    background-color: #e0e0e0;
    box-shadow: 0 1px 0 gray;
}

th[data-sort="asc"]::after {
    content: " \25b2";
}

th[data-sort="desc"]::after {
    content: " \25bc";
}